In [14]:

import pandas as pd
import numpy as np

In [28]:
np.arange(1, 100, 9)

array([ 1, 10, 19, 28, 37, 46, 55, 64, 73, 82, 91])

In [26]:

a

array([  1.,  12.,  23.,  34.,  45.,  56.,  67.,  78.,  89., 100.])

In [12]:
df

   a  b
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5