In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame()

In [8]:
df['a'] = [1, 2, 3, 4, 5]
df['b'] = [1, 2, 3, 4, 5]

In [9]:
df

   a  b
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5

In [13]:
for r in df.to_numpy():
    print(r[0], r[1])

1 1
2 2
3 3
4 4
5 5